.details {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;

  & p {
    margin-bottom: 1rem;
  }
  &-title {
    font-size: 3rem;
  }
  &-author {
  }
  &-genre {
  }
  &-description {
  }

  &__buttons {
    display: flex;
    gap: 3rem;
    margin-top: auto;
  }

  &__underShelf {
    width: 50%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;

    &__bookInfo {
      &-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
      &-author {
        font-size: 1.2rem;
        opacity: 0.5;
      }
    }
  }
}
