@import '../../index.scss';

.menu {
  min-width: 12rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: $color-background;
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 111;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.077),
    0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.077);

  & .btn {
    width: 100%;
  }
}
