@import '../../index.scss';

.bookCover__container {
  width: 28rem;
  max-width: 45%;
  z-index: 2;
  position: relative;

  @include media(800px) {
    width: 41%;
  }
  @include media(750px) {
    width: 44%;
  }
  @include media(700px) {
    max-width: 60%;
    width: 46%;
  }
  @include media(650px) {
    width: 50%;
  }
  @include media(600px) {
    width: 40%;
  }
  @include media(550px) {
    width: 47%;
  }
  @include media(500px) {
    width: 60%;
  }
  @include media(400px) {
    transform: translateX(7%);
  }

  &--isSmall {
    width: 11rem;
    max-width: 60%;
    height: 15rem;

    @include media(800px) {
      height: 14rem;
    }
    @include media(700px) {
      max-width: 100%;
      height: 15rem;
    }
  }
}
.bookCover {
  display: flex;
  width: 90%;
  height: 100%;
  position: relative;

  &__cover {
    border-top-left-radius: 1.5%;
    border-bottom-left-radius: 1.5%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    width: 97%;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    &--img {
      object-fit: cover;
    }

    &-shadows {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: rgba(255, 255, 255, 0);
      box-shadow: 1rem 0rem 0.5rem -1rem inset rgba(0, 0, 0, 0.5),
        -1rem 0rem 0.5rem -1rem inset rgba(0, 0, 0, 0.5),
        0rem -1rem 0.5rem -1rem inset rgba(0, 0, 0, 0.5);
    }

    &-edge {
      position: absolute;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 20%,
        rgba(255, 255, 255, 0.15) 35%,
        rgba(255, 255, 255, 0.05) 55%,
        rgba(0, 0, 0, 0.05) 65%,
        rgba(0, 0, 0, 0.15) 90%,
        rgba(255, 255, 255, 0) 100%
      );
      width: 8%;
      height: 100%;
      left: 0.1rem;
    }
  }

  &__pages {
    width: 3%;
    clip-path: polygon(0 0.84%, 100% 5.6%, 100% 94.5%, 0 99.15%);
    display: flex;
    & .page {
      background-color: #fff;
      width: calc(100% / 6);
      border-left: 0.5px solid rgb(123, 123, 123);

      &--isSmall {
        width: calc(100% / 4);
      }
    }

    @include media(900px) {
      width: 4%;
    }
  }

  &__lastPage {
    background-color: rgb(140, 140, 140);
    width: 90%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0.6%;
    clip-path: polygon(
      96% 0.84%,
      96.6% 0.74%,
      100% 6.2%,
      100% 94.16%,
      96.7% 99.16%,
      96% 99.16%
    );

    @include media(900px) {
      clip-path: polygon(
        10% 0.84%,
        96% 0.84%,
        100% 6%,
        100% 94.7%,
        96% 99.16%,
        10% 99.16%
      );
    }

    & .loading {
      background-color: $color-background;
    }
  }
}

.loading {
  background: $color-shelf-medium;
}
