@import '../../index.scss';

.bookCover__container {
  width: 28rem;
  height: 36rem;
  z-index: 2;
  position: relative;

  &--isSmall {
    width: 11rem;
    height: 15rem;
  }
}
.bookCover {
  display: flex;
  width: 90%;
  height: 100%;
  &__cover {
    border-top-left-radius: 1.5%;
    border-bottom-left-radius: 1.5%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    width: 97%;
    box-shadow: 1rem 0rem 0.5rem -1rem inset rgba(0, 0, 0, 0.5),
      -1rem 0rem 0.5rem -1rem inset rgba(0, 0, 0, 0.5),
      0rem -1rem 0.5rem -1rem inset rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    &-edge {
      position: absolute;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.05) 20%,
        rgba(255, 255, 255, 0.15) 35%,
        rgba(255, 255, 255, 0.05) 55%,
        rgba(0, 0, 0, 0.05) 65%,
        rgba(0, 0, 0, 0.15) 90%,
        rgba(255, 255, 255, 0) 100%
      );
      width: 8%;
      height: 100%;
      left: 0.1rem;
    }
  }

  &__pages {
    width: 3%;
    clip-path: polygon(0 0.84%, 100% 5.6%, 100% 94.5%, 0 99.15%);
    display: flex;
    & .page {
      background-color: #fff;
      width: calc(100% / 6);
      border-left: 0.5px solid rgb(123, 123, 123);

      &--isSmall {
        width: calc(100% / 4);
      }
    }
  }

  &__lastPage {
    background-color: rgb(140, 140, 140);
    width: 90%;
    height: 100%;
    z-index: -1;
    position: absolute;
    left: 0.6%;
    clip-path: polygon(
      10% 0.84%,
      96.6% 0.74%,
      100% 6.2%,
      100% 94.16%,
      96.7% 99.16%,
      10% 99.16%
    );

    & .loading {
      background-color: $color-background;
    }
  }
}

.loading {
  background: $color-background;
}
