@import '../../../index.scss';

.btn {
  cursor: pointer;
  width: fit-content;
  height: 3rem;
  font-size: 1.5rem;
  padding: 0 1.3rem;
  border-radius: 3rem;
  @include center;
  z-index: 1;

  &--active {
    background-color: $color-ui;
    cursor: default;
  }
  &--leftAligned {
    justify-content: start;
  }
  &--colored {
    background-color: $color-ui;
    &:hover {
      background-color: $color-ui--light;
    }
  }
  &--hasOutline {
    outline: 1px solid $color-ui;
    outline-offset: -1px;
    color: $color-ui;

    & .icon {
      fill: $color-ui;
    }

    &:hover {
      color: $color-ui--hover;
      outline-color: $color-ui--hover;
    }
  }

  &--isPreloader {
    color: rgba(255, 255, 255, 0);
    background-color: $color-background;
    cursor: default;
  }

  &__content {
    height: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    &:not(.btn--active__content):hover > .icon {
      fill: $color-font--hover;
    }
  }
  &:not(.btn--active):not(.btn--hasOutline):not(.btn--isPreloader):hover {
    color: $color-font--hover;
  }
}
