@import '../../../index.scss';

.btn {
  cursor: pointer;
  min-width: fit-content;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  @include center;
  z-index: 4;

  &--mobile {
    & .btn__content--text {
      @include media(900px) {
        display: none;
      }
    }
  }

  &--active {
    background-color: $color-ui;
    cursor: default;

    & .icon:hover {
      cursor: default;
    }
  }
  &--leftAligned {
    justify-content: start;
  }

  &--colored {
    background-color: $color-ui;
    &:hover {
      background-color: $color-ui--light;
    }
  }
  &--hasOutline {
    border-radius: 7rem;
    color: $color-ui;
    transform: translateZ(0);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid $color-ui;
      border-radius: 7rem;
      z-index: -222;
    }
    &:hover {
      color: $color-ui--hover;
      outline-color: $color-ui--hover;

      &::before {
        border: 1px solid $color-ui--hover;
      }
    }
    & .icon {
      fill: $color-ui;
    }
    &__content:hover > .icon {
      fill: $color-ui--hover;
    }
  }

  &--isPreloader {
    color: rgba(255, 255, 255, 0);
    background-color: $color-shelf-medium;
    outline: none;
    cursor: default;

    & .icon {
      fill: rgba(255, 255, 255, 0) !important;
      cursor: default;

      &:hover {
        fill: rgba(255, 255, 255, 0);
      }
    }

    &:hover {
      color: rgba(255, 255, 255, 0);
      background-color: $color-background;
      outline: none;
    }
  }

  &__content {
    height: 100%;
    padding: 0 1.3rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;

    @include media(400px) {
      padding: 0 1.1rem;
    }

    &:not(.btn--active__content):not(.btn--hasOutline__content):hover > .icon {
      fill: $color-font--hover;
    }
  }

  &:not(.btn--active):not(.btn--hasOutline):not(.btn--isPreloader):hover {
    color: $color-font--hover;
  }

  //media

  @include media(1000px) {
    font-size: 1.3rem;
  }
  @include media(700px) {
    font-size: 1.5rem;
  }
  @include media(400px) {
    font-size: 1.3rem;
    height: 2.6rem;
  }
}
