.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 3rem 3rem;

  &__section {
    &--2 {
      display: flex;
      gap: 1rem;
    }
    &--3 {
      display: flex;
      gap: 1rem;
      align-items: center;

      & .favorites {
        cursor: pointer;
        width: 1.8rem;
        height: 1.7rem;
      }
      & .menu {
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
      }
      & .userPic {
        width: 2.5rem;
        height: 2.5rem;
        background-color: black;
        border-radius: 50%;
      }
    }
  }
}
