.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 3rem 3rem;

  &__section {
    // &--1 {
    //   width: 20rem;
    // }
    &--2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &--3 {
      display: flex;
      gap: 1rem;
      align-items: center;
      & .single-icon:first-child {
        margin-left: 1rem;
      }
    }
  }
}
