//variables
$color-background: #f3e5d0;
$color-shelf-light: #f8f3ed;
$color-shelf-medium: #eae1d4;
$gradient-shadow: linear-gradient(
  #baad9b 15%,
  #baad9bbf 35%,
  #baad9b27 75%,
  transparent
);
$color-font: #2c1810;
$color-ui: #daaa63;

html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-font;
}

main {
  width: 100%;
  min-height: 100vh;
}
