//variables
$color-background: rgba(243, 229, 208, 1);
$color-shelf-light: rgba(248, 243, 237, 1);
$color-shelf-medium: #eae1d4;
$gradient-shadow: linear-gradient(
  rgba(186, 173, 156, 1) 15%,
  rgba(186, 173, 155, 0.749) 35%,
  rgba(186, 173, 155, 0.153) 75%,
  rgba(255, 255, 255, 0)
);
$color-font: #2c1810;
$color-font--hover: #5d3322;
$color-ui: #daaa63;
$color-ui--hover: #895e1e;

//MIXINS
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: $color-font;
}

main {
  width: 100%;
  min-height: 100vh;
}

.icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  fill: $color-font;
}
.single-icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  fill: $color-font;

  &:hover {
    fill: $color-font--hover;
  }
}

input {
  height: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;

  &:focus {
    outline: 1px solid $color-ui;
  }
}
