@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@400;700&family=Montserrat:wght@300;400;600&display=swap');

//variables
$color-background: rgba(243, 229, 208, 1);
$color-shelf-light: #f8f3ed;
$color-shelf-medium: #eae1d4;
$gradient-shadow: linear-gradient(
  rgba(186, 173, 156, 1) 15%,
  rgba(186, 173, 155, 0.749) 35%,
  rgba(186, 173, 155, 0.153) 75%,
  rgba(255, 255, 255, 0)
);
$color-font: #2c1810;
$color-font--light: #2c181077;
$color-font--hover: #5d3322;
$color-ui: #daaa63;
$color-ui--light: #daaa63dd;
$color-ui--hover: #895e1e;

$content-height: 73rem;
$header-height: 7rem;

//MIXINS
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin heading {
  font-size: 2.5rem;
  @include media(700px) {
    font-size: 2.3rem;
  }
}

@mixin content-height {
  height: 73rem;

  @include media(1100px) {
    height: 69rem;
  }
  @include media(1000px) {
    height: 65rem;
  }
  @include media(900px) {
    height: 58rem;
  }
  @include media(800px) {
    height: 50rem;
  }
  @include media(700px) {
    height: 100%;
  }
}

//MEDIA

@mixin media($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}

////////////////////

html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  color: $color-font;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Caslon Text', serif;
}

h2 {
  font-size: 2rem;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-ui;
    font-weight: 600;
    transition: all 0.1s;
  }
  &:hover {
    color: $color-ui--hover;
  }
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: inherit;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  fill: $color-font;
  z-index: 2;

  @include media(700px) {
    width: 1.3rem;
    height: 1.3rem;
  }

  /////////
  @include media(700px) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

input {
  height: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;

  &:focus {
    outline: 1px solid $color-ui;
    outline-offset: -1px;
  }
}
