@import '../../index.scss';

.background {
  background-color: $color-background;
  position: relative;
}

.container {
  background-color: $color-shelf-light;
  padding: 3rem;
  position: absolute;
  width: 80%;
  max-width: 124rem;
  height: 80%;
  max-height: 80rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4rem;

  box-shadow: rgba(50, 36, 21, 0.501) 0 4.5rem 5rem -4rem;
}
