@import '../../index.scss';

.background {
  width: 100%;
  height: 90rem;
  @include center;

  @include media(700px) {
    display: block;
    min-height: 100vh;
    height: 94rem;
  }
}

.container {
  background-color: $color-shelf-light;
  width: 90%;
  max-width: 120rem;
  height: 80rem;
  margin: auto 0;
  border-radius: 4rem;
  box-shadow: rgba(50, 36, 21, 0.501) 0 4.5rem 5rem -4rem;

  @include media(1100px) {
    height: 76rem;
  }
  @include media(1000px) {
    height: 72rem;
  }
  @include media(900px) {
    height: 65rem;
  }
  @include media(800px) {
    height: 58rem;
  }
  @include media(700px) {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0%;
    overflow: hidden;
  }

  &__content {
    width: 100%;
    height: calc(100% - 7rem);
    @include media(400px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
